.punta-cana-hero {
  width: 100%;
  height: 25em;
  background: rgba(0, 0, 0, 0.5) url(../img/punta-cana-hero-3.jpg) no-repeat
    center center/cover;
  background-blend-mode: darken;
}

.punta-cana-content {
  margin-top: 12em;
}
